*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

.currency{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-topo{
    width: 300px;
    height: 250px;
    margin: 20px;
}

nav{
    width: 375px;
    height: 712px;
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label{
    color: #ffb000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

select, input{
    cursor: pointer;
    width: 327px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    color: #555;
    font-weight: 700;
    line-height: 18px;
}

button{
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffb000b5;
    border-radius: 5px;
    border: none;
    width: 327px;
    height: 48px;
}

button:hover{
    opacity: .8;
}

button:hover:active{
    opacity: .5;
}

.below{
    border: 2px solid #ffb000b5;
    border-radius: 20px;
    width: 327px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow{
    margin: 18px 0;
}

.box-low{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; 
}

.valueConverted, .valueToConvert{
    font-size: 20px;
    background: radial-gradient(#f497069e, transparent);
    color: #fff;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    background-color: #050505;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.devLogo{
    width: 25px;
}